<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="about-page text-center">
        <h1>About</h1>
        <p>
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリュエーションをご用意しております。<br>
          また、全国へ発送可能ですので『いつ』でも『どこ』でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>
        <!--画像追加-->
      </div>
    </div>
  </div>
</div>